



  <h1 class="text-center">Journal de bord </h1>

  <hr width="20%" style="background-color: #000; margin-top:0px; margin-bottom: 30px; height:5px;">

        <div class="partage-id">


      <div class="row">

      <div class="col-md-12">




  <div class="row">

      <div class="col-md-12">

        <div class="partage-id">



    <% @links.each do |link| %>

    
    
      <h2 style="padding-bottom: 5px;"> <%= image_tag 'journal.png'%> <%= link_to link.title, link %> </h2>
           <h5 style="padding-bottom: 5px;"><span class="glyphicon glyphicon-user"></span> Partage de: <%=link.user.name %> </h5>
           <h6 style="padding-bottom: 5px;"><span class="glyphicon glyphicon-calendar"></span> <%=link.created_at.strftime("%e %b %Y") %> </h6>

            <div class="image-post-index"> <%= link_to image_tag(link.image.url(:medium), class: "img-rounded"), link  %></div>

     <p>  <%= link.message %> </p> <button class=" btn btn-default"><span class="glyphicon glyphicon-comment"></span>   <%= link_to 'Laissez un commentaire', link %></button> <span class="glyphicon glyphicon-heart text-center" style="color:red;"></span> <%= link.get_likes.count %> 
     

    <hr>

     
    <% end %>


 </div>

 

 <div class="flickr_pagination">
    
   <div class="text-center"> <%= will_paginate @links, :previous_label => 'Précédent', :next_label => 'Suivant', :container => false %></div>
  </div>

  </div>

        </div>

        </div>



  </div>

    </div>

      </div>