


<h1 class="text-center"><%= @link.title %></h1>

<hr width="20%" style="background-color: #000; margin-top:0px; margin-bottom: 30px; height:5px;">

        <div class="partage-id">

      <div class="row">

      <div class="col-md-12">




  <div class="row">

      <div class="col-md-12">

        <div class="partage-id">


 
      <h4 style="padding-bottom: 20px;" class="text-center"><span class="glyphicon glyphicon-user"></span> Partage de: <%= @link.user.name %> </h4>

      <h5 style="padding-bottom: 20px;" class="text-center"><span class="glyphicon glyphicon-calendar"></span> <%=@link.created_at.strftime("%e %b %Y") %> </h5>


      <div class="image-post center-block"> <%= image_tag @link.image.url(:large), class: "img-responsive img-rounded" %>

   
     <p style="padding-bottom: 20px; padding-top: 50px; white-space: pre-line;">  <%= @link.message %> </p>
       
       
     <div class="text-center"> <%= link_to like_link_path(@link), method: :put, class: "btn btn-default text-center" do %> <span class="glyphicon glyphicon-heart text-center" style="color:red;"></span> <%= @link.get_likes.size %> 
     <% end %>
   
</div>


 </div>

 <div class="row">

<% if @link.user == current_user %>
	<div class="btn-group">
	<%= link_to 'Modifier', edit_link_path(@link), class: "btn btn-green" %>
	<%= link_to 'Supprimer', @link, method: :delete, data: { confirm: 'Ëtes-vous sûr de vouloir supprimer votre partage?'}, class: "btn btn-green" %>

 </div>
 <% end %>

 <% if current_user.try(:admin?) %>
 <%= link_to 'Admin Supprimer', @link, method: :delete, data: { confirm: 'Ëtes-vous sûr de vouloir supprimer votre partage?'}, class: "btn btn-green" %>

 <% else %>
 
<% end %>

        </div>


  <h3 class="comments_title">
  <span class="glyphicon glyphicon-comment" style="padding-bottom: 20px;"></span>  <%= @link.comments.count %> commentaires
  </h3>
  
  <div id="comments">
    <%= render :partial => @link.comments %>
  </div>
  
  <%= simple_form_for [@link, Comment.new] do |f| %>

      <div class="field">
        <%= f.text_area :body, cols: "30", rows: "8", class: "form-control" %>
      </div>

      <br>

      <% if user_signed_in? %>

      <%= f.submit "Publier", class: "btn btn-green" %>

      <% else %>

       <%= link_to 'Connecte-toi afin de pouvoir commenter!', new_user_session_path, class: "btn btn-green" %>

      <% end %>

      <% end %>

  


        </div>



  </div>

    </div>
